*
{
  box-sizing: border-box;
}

body
{
  background-image: url(../images/hans-jurgen-weinhardt-FZ5nx86tP2U-unsplash.jpg); 
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}


.Login
{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
  grid-template-rows: 1fr [form] 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.form_login
{
  background-color: #ffdf88;
  padding: 1em;
  color: #505050;
  grid-column: form;
  grid-row: form;
}

.form_error
{
  background-color: #999999;
  color: white;
  font-weight: lighter;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.form_field
{
  padding-bottom: 1em;
}

.form_field input[type=text], 
.form_field input[type=password] 
{
  width: 100%;
  padding: 0.3em;
  font-size: 1.4em;
}

.btn
{
  width: 100%;
  margin: 0.5em auto;
}

.btn_primary
{
  background-color: rgb(90, 60, 0);
  color: white;
  text-align: center;
  border: none;
  padding: 0.3em 2em;
  font-size: 1.4em;
}

/* Winkelmandje en afrekenknoppen */
.cart-summary {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2rem;
}

.cart-summary .btn-checkout {
  background-color: #8b572a;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px;
}

.cart-summary .btn-checkout:hover {
  background-color: #8b572a;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-info {
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .product-grid {
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .product-grid {
      grid-template-columns: 1fr;
  }
}
